<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Lupa Password</h4>

                {{#if pesanSukses}}
                <div class="alert alert-success">
                    {{pesanSukses}}
                </div>
                {{/if}}

                {{#if pesanError}}
                <div class="alert alert-danger">
                    <ul>
                        {{#each pesanError}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}

                <form action="/auth/forgot-password" method="POST">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Kirim Link Reset Password
                    </button>
                </form>

                <div class="text-center mt-3">
                    <a href="/auth/login" class="text-decoration-none">
                        Kembali ke Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>